<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protect!T - Packet Inspector</title>
    <link rel="stylesheet" href="/static/css/game1.css">
</head>
<body>
    <div class="game-container">
        <header class="container">
            <span class="logo">Protect!T</span>
            <nav>
                <ul>
                    <li><a href="/templates/index.html">Rules</a></li>
                    <li class="active"><a href="#">First round</a></li>
                    <li><a href="/templates/games/game2/game2.html">Second round</a></li>
                    <li><a href="/templates/games/game3/game3.html">Third round</a></li>
                    <li class="button"><a href="#" id="contactBtn">Contacts</a></li>
                </ul>
            </nav>
        </header>

        <h1>🛡️ Packet Inspector</h1>
        <p>Кликай на красные пакеты (атака), не трогай зелёные!</p>
        <div class="stats">
            <div>Счёт: <span id="score">0</span></div>
            <div>Здоровье сервера: <span id="health">100</span>%</div>
            <div>Время: <span id="timer">60</span> с</div>
        </div>
        <canvas id="gameCanvas" width="900" height="400"></canvas>
        <div id="gameOverMsg"></div>
        <a href="/templates/index.html" class="back-link">← На главную</a>
        <P><button href="/templates/games/game2/game2.html" class="button">Следующая игра</button></P>
    </div>
    <script src="/static/js/game1.js"></script>
    
</body>
</html>