@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, #1F4A70, #010101);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.game-container {
    text-align: center;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    margin: 20px;
}
h1 {
    color: #DC7000;
    margin-bottom: 10px;
}
.stats {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    margin: 15px 0;
    background: #0a1a2a;
    padding: 10px;
    border-radius: 40px;
}
canvas {
    background: #0f212f;
    border: 3px solid #DC7000;
    border-radius: 16px;
    cursor: crosshair;
    margin: 10px 0;
}
#gameOverMsg {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}
.restart, .back-link {
    display: inline-block;
    background: #DC7000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    transition: 0.2s;
}
.restart:hover, .back-link:hover {
    background: #bf2105;
    transform: scale(1.02);
}

/*Шапка (адаптированная под игру) */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header {
    padding: 20px 0;
}
header .logo {
    font-size: 29px;
    font-weight: 800;
    text-transform: uppercase;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}
header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    margin-top: 5px;
}

.button {
    color: #ffff;
    text-decoration: none;
}