<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protect!T - Firewall Defender</title>
    <link rel="stylesheet" href="../../../static/css/main.css">
    <link rel="icon" href="../../../static/img/Ver1.png">
</head>
<body>
    <div class="game-container">
        <header class="container">
            <span class="logo">Protect!T</span>
            <nav>
                <ul>
                    <li><a href="/">Rules</a></li>
                    <li><a href="stage1">First round</a></li>
                    <li class="active"><a href="">Second round</a></li>
                    <li><a href="stage3">Third round</a></li>
                    <li class="button"><a href="#" id="contactBtn">Contacts</a></li>
                </ul>
            </nav>
        </header>

        <h1>🔥 Firewall Defender</h1>
        <p>Нажми "Блокировать" на IP-адресе, который выполняет DDoS-атаку!</p>
        <div class="stats">
            <div>Заблокировано атак: <span id="score">0</span></div>
            <div>Время: <span id="timer">60</span> с</div>
        </div>
        <div id="ipPanel" class="ip-panel"></div>
        <div id="gameOverMsg"></div>
        <a href="/" class="back-link">← На главную</a>
        <button id="nextGameBtn" href="stage3" class="button">🎮 Следующая игра →</button>
    </div>
    <script src="../../../static/js/game2.js"></script>
</body>
</html>