<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protect!T</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/img/Ver2.png">
</head>
<body>
    <div class="wrapper">
    <header class="container">
        <span class="logo">Protect!T</span>
        <nav>
            <ul>
                <li class="/"><a href="#">Rules</a></li>
                <li><a href="stage1">First round</a></li> <!-- ссылка -->
                <li><a href="stage2">Second round</a></li>
                <li><a href="stage3">Third round</a></li>
                <li class="button"><a href="#">Contacts</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero container">
        <div class="hero--info">
            <h2>Вы прошли все игры!</h2>
            <h1>ТАБЛИЦА РЕКОРДОВ</h1>
            <div class="table-wrapper">
            <table class="table">
                <tr>
                    <td>№</td> 
                    <td>Имя</td> 
                    <td>Игра 1</td>
                    <td>Игра 2</td> 
                    <td>Игра 3</td> 
                    <td>Сумма</td>
                </tr>
                <tr>
                    <td>1</td> 
                    <td><!-- имя1 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>2</td> 
                    <td><!-- имя2 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>3</td> 
                    <td><!-- имя3 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>4</td> 
                    <td><!-- имя4 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>5</td> 
                    <td><!-- имя5 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>6</td> 
                    <td><!-- имя6 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>7</td> 
                    <td><!-- имя7 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>8</td> 
                    <td><!-- имя8 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>9</td> 
                    <td><!-- имя9 --></td>
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
                <tr>
                    <td>10</td> 
                    <td><!-- имя10 --></td> 
                    <td><!-- рез игры 1 --></td> 
                    <td><!-- рез игры 2 --></td> 
                    <td><!-- рез игры 3 --></td> 
                    <td><!-- сумма --></td>
                </tr>
            </table>
            </div>
        </div>

</body>
</html>