<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First try guys im getting it</title>
    <link rel="stylesheet" href="css/main.css"> <!-- мб точка не нужна -->
</head>
<body>
    <div class="wapper">
    <header class="container">
        <span class="logo">Protect!T</span>
        <nav>
            <ul>
                <li class="active"><a href="#">Rules</a></li>
                <li><a href="#">First round</a></li> <!-- ссылка -->
                <li><a href="#">Second round</a></li>
                <li><a href="#">Third round</a></li>
                <li class="button"><a href="#">Contacts</a></li>

            </ul>
        </nav>
    </header>

    <div class="hero container">
        <div class="hero--info">
            <h2>Защити свой комп!</h2>
            <h1>ПРАВИЛА</h1>
            <p>1. Есть только одна попытка на каждый раунд</br>
            2. Нужно пройти все три игры</br>
            3.</p>
            <button class="button">НАЧАТЬ🡢</button>
        </div>
        <p class="hero--img">
            <img src="Ver1.png">
        </p>
    </div>
    <p>
    </p>
    <script src="/js/script.js"></script>  <!-- вставка джс -->
    </div>
</body>
</html>