<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <h1>Test</h1>
        <button id="test_button" class="bg-blue-500 text-white p-2 rounded-md">Click me</button>
        <input type="email" id="test_email" class="border-2 border-gray-300 rounded-md p-2" placeholder="Enter your email">
        <input type="password" id="test_password" class="border-2 border-gray-300 rounded-md p-2" placeholder="Enter your password">
        <button id="approve_button" class="bg-blue-500 text-white p-2 rounded-md">Approve information!</button>
    </body>
    <script src="static/js/script.js"></script>
</html>